/*
TODO 투두리스트

// -[x] 글자 가운데 맞추기
    // -[x] 입력칸 생성

// -[x] ul 디자인
    // -[x] border-top 선그어서 구별가능하게
    // -[x] li태그 클릭하면 (선긋기)
    // -[x] 글자색 변경
    // -[x] 삭제버튼 오른쪽으로 배치
 */

*{
    box-sizing: border-box;
}


body{
    background: aliceblue;
}
h1{
    font-size: 50px;
    color: mediumslateblue;
    text-align: center;
    min-height: 10vh;
}


form{
    margin: auto;
    text-align: center;
    width: 400px;

}

#input{
    font-size: 1rem;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 15px;

}

#input::placeholder{
    color: #b5b5b5;
}


.todos{
    background: white;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.todos > li{
    list-style-type: none;
    padding: 10px;
    font-size: 1rem;
    text-align: left;
    border-top: 1px solid rgba(0,0,0,0.1);
}


.completed{
    text-decoration: line-through;
    color: #b5b5b5;
}
#count{
    display: flex;
    background: white;
    border-top: 1px solid rgba(0,0,0,0.5);
    padding: 5px;
}

.delete-btn{
    float: right;
    background: #b5b5b5;
    border: 0;
    border-radius: 5px;


}
